<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Add A button which says 'Display Details'</li>
        <li>Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')</li>
        <li>Toggle the displaying of that paragraph with the button created in the first step</li>
        <li>Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply an incrementing number)</li>
        <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color (ngClass)</li>
      </ol>
      <p><button class="btn btn-success" (click)="toggleLyrics()">Display Details</button></p>
      <div class="col-xs-6">
        <div *ngIf="toggleLyricsSetting">
          <p>Lady Godiva was a freedom rider,<br>
          She didn't care if the whole world looked,<br>
          Joan of Arc with the Lord to guide her,<br>
          She was a sister who really cooked,<br>
          Isadora was the first bra-burner,<br>
          Ain't ya glad she showed up? (Oh yeah!)<br>
          And when the country was fallin' apart,<br>
          Betsy Ross got it all sewed up.</p>
          <p>(CHORUS): <br>
          (And then there's Maude),<br>
          And then there's Maude,<br>
          (And then there's Maude),<br>
          And then there's Maude,<br>
          (And then there's Maude),<br>
          And then there's Maude,<br>
          (And then there's.....),</p>
          <p>That uncompromisin', enterprisin', anything but tranquilizin',<br>
          Right on Maude!</p>
          <p>source: http://www.lyricsondemand.com/tvthemes/maudelyrics.html</p>
        </div>
      </div>
      <div class="col-xs-6">
        <p *ngFor="let clickTime of toggleLyricsClickTimes">TIME: {{ clickTime }}</p>
      </div>
    </div>
  </div>
</div>
